.empty-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 10px;
}

.empty-image img{
    width: 200px;
    height: auto;

}